<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

<div class="jumbotron">
 <div class="container">
 <h1>Welcome to my world of fish!</h1>
 <script src="loadFishJson.js"></script>

  
 
 <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more>></a></p>
 </div>
 </div>



</body>


 <div class="container-fluid">
 <!-- Example row of columns -->
 <div class="row">
 	
</div>


 
 </ul>	
 <div class ="container-fluid">
<div class="row">
 <% @fishes.each do |fish| %>
 
 <div class="col-md-4">
 <h2><%= fish.commonname%></h2>

  <% fish.files.each do |image| %>
	<%=image_tag image.variant(combine_options: {
      auto_orient: true,
      gravity: "center",
      resize: "200x200^",
 }),class:"img-thumbnail"%>
 <p><%= link_to "Show more", fish%></p>
	<%break%>


  <%end%>

  <ul >
 		<li> <em><%=fish.description%></em></li>
  </ul>
    
 <p>
 
 </p>
 </div>
<% end %>
</div>






 <hr>
 <footer>
 <p>&copy; 2019 Fish Company, Inc.</p>
 </footer>
</div> 

