

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<a class="navbar-brand" href="#"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav
barSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" ari
a-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item">	
	 <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="
Search" class="form-control">
</li>
 <li class="nav-item active">
 <a class="nav-link navbar-dark" href="/">Home <span class="sr-only">(current)</sp
an></a>
 </li>
 <li class="nav-item">
 <a class="nav-link navbar-dark" href="/fish">Fishes</a>
 </li>
 <li class="nav-item">
 <a class="nav-link navbar-dark" href="/users">Users</a>
</li>

  <li class="nav-item">
 <a class="nav-link navbar-dark" href="/distort.html">Distort Image</a>
 </li>
 
</ul>
<li>
<% if current_user %>
  Logged in as <%= current_user.email %>
  <%= link_to 'Log Out', logout_path %>
<% else %>
  <%= link_to 'Sign Up', signup_path %> or 
  <%= link_to 'Log In', login_path %>
<% end %>
</li>
<ul></ul>


</nav>
 
 <ul>
 <li id="result" class="list-group" ></li>
 </ul>
 






<script>
$(document).ready(function(){
 $.ajaxSetup({ cache: false });
 $('#search').keyup(function(){
  $('#result').html('');
  $('#state').val('');
  var searchField = $('#search').val();
  var expression = new RegExp(searchField, "i");
  $.getJSON('https://fisapp658.herokuapp.com/fish.json', function(data) {
 // $.getJSON('http://localhost:3000/fish.json', function(data) {
   $.each(data, function(key, value){
    if (value.genus.search(expression) != -1 || value.commonname.search(expression) != -1)
    {
     $('#result').append('<li class="list-group-item link-class">'+value.genus+' | <span class="text-muted">'+value.commonname+'</span></li>');
    }
   });   
  });
 });
 
 $('#result').on('click', 'li', function() {
  var click_text = $(this).text().split('|');
  $('#search').val($.trim(click_text[0]));
  $("#result").html('');
 });
});
</script>